$font-stack: 'Inter', sans-serif;
$dark-pink: #e81980;
$light-pink: #ff1b8d;
$gold: #ffd900;
$light-blue: #1bb2ff;
$dark-blue: #0096e0;
$dark-gray: #212329;
$white: #fff;
$black: #000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}